.Find-dogs {
    background-color: #000000;
    margin: auto;
    padding: 8rem 1rem 0 1rem;
    width: 100%;
    height: 600px;
}

.Find-dogs .container {
    display: flex;
    width: 1240px;
    margin: auto;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Find-dogs h2 {
    font-size: 3rem;
    color: aliceblue;
}

.Find-dogs .select-container {
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 5rem;
    margin-top: 6rem;
}

.select-section { 
    font: 700 15px Open Sans;
    text-transform: uppercase;
    position: relative;
    color: #a2a2a2;
    text-decoration: none;
    border: 3px solid #795050;
    letter-spacing: 1px;
    padding: 10px 15px 10px 25px;
    display: block;
    width: 150px;
    background-color: #000000;
}




.filter-btn {
    --color: #00A97F;
    padding: 0.8em 1.7em;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 17px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
   }
   
   .filter-btn::before, .filter-btn::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--color);
    transition: 1s ease;
   }
   
   .filter-btn::before {
    top: -1em;
    left: -1em;
   }
   
   .filter-btn::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
   }
   
   .filter-btn:hover::before, .filter-btn:hover::after {
    height: 410px;
    width: 410px;
   }
   
   .filter-btn:hover {
    color: rgb(10, 25, 30);
   }
   
   .filter-btn:active {
    filter: brightness(.8);
   }



   /* card */
   .card {
    width: 190px;
    background: white;
    padding: .4em;
    border-radius: 6px;
  }
  
  .card-image {
    background-color: rgb(236, 236, 236);
    width: 100%;
    height: 130px;
    border-radius: 6px 6px 0 0;
  }
  
  .card-image:hover {
    transform: scale(0.98);
  }
  
  .category {
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: 600;
    color: rgb(63, 121, 230);
    padding: 10px 7px 0;
  }
  
  .category:hover {
    cursor: pointer;
  }
  
  .heading {
    font-weight: 600;
    color: rgb(88, 87, 87);
    padding: 7px;
  }
  
  .heading:hover {
    cursor: pointer;
  }
  
  .author {
    color: gray;
    font-weight: 400;
    font-size: 11px;
    padding-top: 20px;
  }
  
  .name {
    font-weight: 600;
  }
  
  .name:hover {
    cursor: pointer;
  }

  
   @media screen and (max-width:940px) {

    .Find-dogs .select-container {
        
        gap: 1rem;
        margin-top: 6rem;
    }
    .Find-dogs .container {
        display: flex;
        width: 640px;
        margin: auto;
        position: relative;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
   }

  
  